body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.background {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botonB{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-decoration: none;
    list-style: none;
    outline: none;


    background-color: transparent;
    color: #18A2E7;
    font-family: "Century Gothic", sans-serif;
    padding: 15px 30px;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}
.botonB:hover{
    color: #1277a6;
    cursor: pointer;
    font-weight: bold;
}