.banner-background {
    position: relative;
    height: 300px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-btn {
    position: relative;
    color: #18A2E7;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
}
.banner-btn:hover {
    color: #6BC3EF;
}