body {
    background-color: #000;
    margin: 0;
    font-family: sans-serif;
}

.classes-calendar-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.classesCalendar {
    border-collapse: collapse;
    color: #ffffff;
    width: 100%;
}

.classesCalendar th,
.classesCalendar td {
    border: 1px solid #18A2E7;
    padding: 10px;
    text-align: center;
}

.classesCalendar th, .time-col {
    color: #18A2E7;
}

.class-block {
    color: #18A2E7;
    font-weight: bold;
}