.faq-item {
    background-color: #4ebcff;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border-left: 5px solid #18A2E7;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.pregunta {
    padding: 20px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.respuesta {
    padding: 20px;
    color: #fff;
    line-height: 1.6;
    font-size: 15px;
    background-color: #18A2E7;
}