.faq-item {
    background-color: #000;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.question {
    padding: 15px;
    color: #18A2E7;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.answer {
    padding: 15px;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
}