.faq-container {
    width: 50%;
    margin: 40px auto;
    padding: 0 20px;
    font-family: "Century Gothic", sans-serif;
}

.faq-item {
    background-color: #1a1a1a;
    width: 40%;
    margin-bottom: 20px;
    border-radius: 12px;
    border-left: 5px solid #18A2E7;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.pregunta {
    padding: 20px;
    color: #18A2E7;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #333;
}

.respuesta {
    padding: 20px;
    color: white;
    line-height: 1.6;
    font-size: 15px;
    background-color: #000000;
}