body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    font-family: "Century Gothic", sans-serif;
}

.logoDF {
    height: 80px;
    width: auto;
    object-fit: contain;
    margin-left: 25px;
}

.header-btns-row ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin-right: 40px;
}

.btn-header {
    background-color: #18A2E7;
    color: black;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 13px;
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn-header:hover {
    background-color: #6BC3EF;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(24, 162, 231, 0.4);
    cursor: pointer;
}

.btn-header.active {
    background-color: #6BC3EF;
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 5px 15px rgba(24, 162, 231, 0.4);
}