body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-family: sans-serif;
}

.logoDF {
    height: 60px;
}

.header-btns-row ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.btn-header {
    background-color: #18A2E7;
    color: #000;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
.btn-header:hover {
    background-color: #6BC3EF;
}