body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: sans-serif;
}

.about-us-section, .facilities-section {
    padding: 40px 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    color: #18A2E7;
    font-size: 28px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.about-us-section img, .carousel-container img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-top: 20px;
}

.facilities-section {
    max-width: 100%;
}

.carousel-container {
    display: flex;
    justify-content: center;
}