body {
    background-color: #000;
    margin: 0;
    font-family: sans-serif;
}

.legal-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    color: #ffffff;
    line-height: 1.6;
}

#legal-title {
    color: #18A2E7;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: #18A2E7;
    font-size: 18px;
    margin-top: 30px;
}

p, li {
    font-size: 14px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

strong {
    color: #18A2E7;
}