.auth-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    font-family: sans-serif;
}

.form-section {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.form-section h2 {
    color: #18A2E7;
}

.form-section input {
    background: #000;
    border: 1px solid #18A2E7;
    color: #ffffff;
    padding: 8px;
    margin: 5px 0 15px;
}

.btn-iniciar {
    background: #18A2E7;
    color: #000;
    padding: 10px;
    font-weight: bold;
}
.btn-iniciar:hover {
    background: #6BC3EF;
}