.subscription-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 300px;
    background-color: #000;
    padding: 20px;
    font-family: sans-serif;
}

.subscription-title {
    color: #ffffff;
    font-size: 16px;
}

.subscription-price {
    color: #18A2E7;
    font-size: 32px;
    font-weight: bold;
}

.subscription-btn {
    background-color: #18A2E7;
    color: #000;
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

.subscription-btn:hover {
    background-color: #6BC3EF;
}