<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Suscripciones Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="items$ | async as items; else loading">
    <ion-list *ngIf="items.length > 0">
      <ion-item *ngFor="let item of items" (click)="goToDetail(item.id)" button detail="true">
        <ion-avatar slot="start">
          <img [src]="item.imagen" />
        </ion-avatar>
        <ion-label>
          <h2>{{ item.nombre }}</h2>
          <p>{{ item.precio }}</p>
        </ion-label>
        
        <ion-icon 
          slot="end" 
          [name]="isFav(item.id) ? 'heart' : 'heart-outline'" 
          [color]="isFav(item.id) ? 'danger' : 'medium'">
        </ion-icon>
      </ion-item>
    </ion-list>

    <div *ngIf="items.length === 0" class="ion-padding ion-text-center">
      <p>No hay suscripciones disponibles.</p>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="ion-padding ion-text-center" style="margin-top: 50px;">
      <ion-spinner></ion-spinner>
      <p>Cargando información...</p>
    </div>
  </ng-template>
</ion-content>
