.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 15px;
  background-color: #000;
  font-family: "Century Gothic", sans-serif;
  border-top: none;
  width: 100%;
}

.socials-list,
.links-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.btn-footer {
  background-color: #18A2E7;
  color: black;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.socials-list a {
  background-color: transparent;
  color: white;
  text-decoration: none;
  width: 45px;
  height: 45px;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.footer-line {
  width: 90%;
  max-width: none;
  border: 0;
  border-top: 1px solid #333;
  margin-bottom: 25px;
}

.socials-list a:hover {
  color: #18A2E7;
  transform: scale(1.2);
  cursor: pointer;
}

.btn-footer:hover {
  background-color: #6BC3EF;
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(24, 162, 231, 0.4);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .main-footer {
    padding: 40px 0;
    gap: 25px;
  }

  .socials-list,
  .links-list {
    gap: 30px;
  }

  .btn-footer {
    padding: 12px 20px;
    font-size: 13px;
  }

  .socials-list a {
    width: 45px;
    height: 45px;
    font-size: 24px;
  }
}
