<div id="popup-overlay" class="popup-overlay">
    <link rel="stylesheet" href="./css/cancelSub.css">
    <section class="cancel-section">
        <div class="cancel-card">
            <h2 class="cancel-title">CANCELAR SUSCRIPCION</h2>
            <nav class="cancel-btns-row">
                <ul>
                    <li><a href="#" class="btn-cancel">CANCELAR</a></li>
                    <li><a href="javascript:void(0)" class="btn-cancel" onclick="togglePopup()">ATRAS</a></li>
                </ul>
            </nav>
        </div>
    </section>
</div>