<head>
    <link rel="stylesheet" href="./css/class.css">
    <title></title>
</head>

<section class="class-section">
    <div class="class-card">
        <h2 class="class-title">NOMBRE CLASE</h2>
        <h3 class="class-information">INFORMACION CLASE</h3>
        <nav class="header-btns-row">
            <ul>
                <li><a href="#" class="btn-class">RESERVAR</a></li>
                <li><a href="#" class="btn-class">ATRAS</a></li>
            </ul>
        </nav>
    </div>
</section>