<section class="class-section" id="popup-class">
    <div class="class-card">
        <h2 class="class-title" id="popup-title">NOMBRE CLASE</h2>
        <img src="" id="popup-img" class="class-img-main">
        <h3 class="class-information" id="popup-info">INFORMACION CLASE</h3>
        <nav class="header-btns-row">
            <ul>
                <li>
                    <a href="#" class="btn-class">
                        RESERVAR
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="btn-class" onclick="closePopup()">
                        ATRAS
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>